@import "tailwindcss";
@import "@mantine/core/styles.css";
@import "leaflet/dist/leaflet.css";
@import "react-leaflet-cluster/dist/assets/MarkerCluster.css";
@import "react-leaflet-cluster/dist/assets/MarkerCluster.Default.css";

/* Leaflet specific global fixes */
.leaflet-container {
  height: 100%;
  width: 100%;
  min-height: 400px;
  z-index: 1;
}
.custom-leaflet-popup .leaflet-popup-content-wrapper {
  background: transparent;
  padding: 0;
  box-shadow: none;
}
.custom-leaflet-popup .leaflet-popup-tip-container {
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
